<md-content>
    <div layout="row" layout-sm="column" layout-xs="column">
        <md-card flex>
            <div layout="row" layout-align="start center">
                <img class="logo" src="\www\assets\files\itmlogo.png" alt="">
            </div>
            <md-divider></md-divider>
            <md-card-content flex>
                <md-autocomplete md-require-match md-no-cache="false" flex md-input-name="autocompleteField" md-selected-item="" md-search-text="vm.searchTexts.bookmark" md-items="item in vm.bookmarkSearch(vm.searchTexts.bookmark,vm.bookmarks)" md-item-text="item.bookmarkTitle"
                    md-min-length="0" md-floating-label="Sök bokmärke">
                    <md-item-template>
                        <span class="item-title">
            <md-icon aria-label="{{item.bookmarkTitle}}"><i class="material-icons">{{item.icon}}</i></md-icon>
            <span> {{item.bookmarkTitle}} </span>
                        </span>
                        <md-not-found>
                            Bokmärket finns inte.
                        </md-not-found>
                    </md-item-template>
                </md-autocomplete>
                <md-switch ng-model="vm.bookmark" aria-label="Switch">
                    Bokmärk
                </md-switch>
                <div layout="inline">
                    <md-autocomplete flex md-input-name="autocompleteField" md-no-cache="false" md-selected-item="" md-search-text="vm.searchTexts.occupation" md-items="item in vm.occupationSearch(vm.searchTexts.occupation,vm.autoCompleteValues.occupations)"
                        md-item-text="item.text" md-min-length="0" md-floating-label="Syssla" md-autoselect>
                        <md-item-template>
                            <span class="item-title">
                              <span> {{item.text}} </span>
                            </span>
                            <md-not-found>
                                Sysslan finns inte.
                            </md-not-found>
                        </md-item-template>
                    </md-autocomplete>
                    <div flex=10></div>
                    <md-autocomplete flex md-input-name="autocompleteField" md-no-cache="false" md-selected-item="" md-search-text="vm.searchTexts.acctivity" md-items="item in vm.acctivitySearch(vm.searchTexts.acctivity,vm.autoCompleteValues.activities)"
                        md-item-text="item.description" md-min-length="0" md-floating-label="Aktivitet" md-autoselect>
                        <md-item-template>
                            <span class="item-title">
                              <span> {{item.description}} </span>
                            </span>
                            <md-not-found>
                                Aktiviteten finns inte.
                            </md-not-found>
                        </md-item-template>
                    </md-autocomplete>
                </div>
                <div layout="inline">
                    <md-autocomplete flex md-input-name="autocompleteField" md-no-cache="false" md-input-minlength="0" md-input-maxlength="100" md-selected-item="vm.selectedItem" md-search-text="vm.searchTexts.customer" md-items="item in vm.customerSearch(vm.searchTexts.customer,vm.autoCompleteValues.customer)"
                        md-item-text="item.name" md-floating-label="Kund" md-autoselect>
                        <span class="item-title">
                              <span> {{item.name}} </span>
                        </span>
                         <md-not-found>
                                Kunden finns inte.
                            </md-not-found>
                    </md-autocomplete>
                    <div flex=10></div>
                    <md-autocomplete flex md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18"  md-selected-item="" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.display" md-floating-label="Avtal">
                    </md-autocomplete>
                </div>
                <div layout="inline">
                       <md-autocomplete flex md-input-name="autocompleteField" md-min-length="0" md-no-cache="false"  md-input-maxlength="100" md-selected-item="" md-search-text="vm.searchTexts.taxes" md-items="item in vm.customerSearch(vm.searchTexts.taxes,vm.autoCompleteValues.taxes)"
                        md-item-text="item.description" md-floating-label="Taxa" md-autoselect>
                        <span class="item-title">
                              <span> {{item.description}} </span>
                        </span>
                         <md-not-found>
                                Taxan finns inte.
                            </md-not-found>
                    </md-autocomplete>
                    <div flex=10></div>
                    <md-autocomplete flex md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18" md-no-cache="ctrl.noCache" md-selected-item="" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.display" md-floating-label="Tjänst">
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                        </md-item-template>
                </div>
                <div layout="inline">
                     <md-autocomplete flex md-input-name="autocompleteField" md-min-length="0" md-no-cache="false"  md-input-maxlength="100" md-selected-item="" md-search-text="vm.searchTexts.project" md-items="item in vm.projectsSearch(vm.searchTexts.project,vm.autoCompleteValues.projects)"
                        md-item-text="item.name" md-floating-label="Projekt" md-autoselect>
                        <span class="item-title">
                              <span> {{item.name}} </span>
                        </span>
                         <md-not-found>
                                Projektet finns inte.
                            </md-not-found>
                    </md-autocomplete>
                    <div flex=10></div>
                    <md-autocomplete flex required md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.display" md-floating-label="Debitera">
                    </md-autocomplete>
                </div>
            </md-card-content>
            <md-button ng-show="vm.bookmark" class="md-raised md-primary">Bokmärk</md-button>
        </md-card>
        <md-card flex>
            <md-divider style="margin-top:11.5%"></md-divider>
            <md-card-content flex>
                <div layout="inline">
                    <mdp-time-picker flex=20 placeholder="Från" ng-model="asdasd"></mdp-time-picker>
                    <mdp-time-picker flex placeholder="Till" ng-model="asd"></mdp-time-picker>
                    <md-input-container>
                        <label>Datum</label>
                        <input required ng-disabled="true" ng-model="vm.readableDate">
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Beskrvning</label>
                    <textarea maxlength="80" ng-model="user.asdasdasd"></textarea>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Intern beskrivning</label>
                    <textarea ng-model="asdasdasd"></textarea>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Memo</label>
                    <textarea ng-model="asdasdasd"></textarea>
                </md-input-container>
                <md-input-container>
            </md-card-content>
            <md-button class="md-raised md-primary">Spara</md-button>
        </md-card>
        <md-card flex>
            <md-divider style="margin-top:11.5%"></md-divider>
            <md-card-content>
                <calendar-md flex layout layout-fill calendar-direction="direction" on-day-click="vm.dayClick" title-format="'MMMM y'" ng-model='vm.selectedDate' week-starts-on="firstDayOfWeek" day-content="vm.setDayContent" disable-future-selection="false"></calendar-md>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row" layout-sm="column" layout-xs="column">
        <md-card style="height: 100%" flex>
            <md-subheader class="md-no-sticky">Dagens</md-subheader>
            <md-card-content>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-subheader class="md-no-sticky">Toggl</md-subheader>
            <md-card-content>
            </md-card-content>
        </md-card>
    </div>
</md-content>