<md-sidenav ng-show="isLoggedIn" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-hue-2">
        <span flex></span>
        <div layout="row" layout-align="start center">
            <img src="\www\assets\files\AngularJS.png" alt="">
        </div>
    </md-toolbar>
    <md-list>
        <md-subheader class="md-no-sticky">Kund</md-subheader>
        <md-list-item ng-click="vm.changeView(item.link)" class="md-2-line" ng-repeat="item in vm.menuItems.customerMenus" role="link" md-ink-ripple>
            <md-icon aria-label="{{item.title}}"><i class="material-icons" style="color:{{item.color}}">{{item.icon}}</i></md-icon>
            <div class="md-list-item-text">
                <span class="md-body-2">{{item.title}}</span>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Statiska Bokmärken</md-subheader>
        <md-list-item ng-click="vm.changeView(item.link)" class="md-2-line" ng-repeat="item in vm.menuItems.internMenus" role="link" md-ink-ripple>
            <md-icon aria-label="{{item.title}}"><i class="material-icons">{{item.icon}}</i></md-icon>
            <div class="md-list-item-text">
                <span class="md-body-2">{{item.title}}</span>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Inställningar</md-subheader>
        <md-list-item ng-click="vm.changeView(item.link)" class="md-2-line" ng-repeat="item in  vm.menuItems.mangementMenus" role="link" md-ink-ripple>
            <md-icon aria-label="{{item.title}}"><i class="material-icons">{{item.icon}}</i></md-icon>
            <div class="md-list-item-text">
                <span class="md-body-2">{{item.title}}</span>
            </div>
        </md-list-item>
            <md-list-item ng-click="vm.logout()" class="md-2-line"  role="link" md-ink-ripple>
            <md-icon aria-label="Logout"><i class="material-icons">vertical_align_bottom</i></md-icon>
            <div class="md-list-item-text">
                <span class="md-body-2">Logout</span>
            </div>
        </md-list-item>
    </md-list>
</md-sidenav>
<div layout="column" class="relative" layout-fill role="main">
    <md-toolbar class="animate-show md-short md-whiteframe-z1">
        <md-button class="md-icon-button" ng-click="vm.toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon aria-label="Menu"><i class="material-icons">android</i></md-icon>
        </md-button>
    </md-toolbar>
    <ui-view layout="column" layout-fill layout-padding>
    </ui-view>
</div>